body {
  font-family: "Ubuntu", sans-serif;
  padding: 1%;
}
header {
  background: #e9ecef;
  text-align: center;
  padding-top: .25%;
  padding-bottom: 1.5%;
}
#motto {
  font-style: italic;
}
main {
  width : 70%;
  float: left;
}
nav {
  width: 25%;
  float: right;
}
main img {
  float: left;
  margin-right: 2%;
}
nav ul {
  list-style: none;
  padding: 0%;
}
nav li {
  padding: 5%;
  border: 1px solid #e9ecef;
}
.navlink {
  color: #007bff;
  text-decoration: none;
}
